@* @model IEnumerable<WebApp.Models.RequestListViewModel>  *@  
@* yukarıdakini kapattık çünkü Request i alttaki model'e atadık *@
@model WebApp.Models.RequestListViewModel // burada çağırmak istediğin dosyayı bulmak gerekli namespace e bak!

@{
    ViewData["Title"] = "Taleplerim";
}

<h2>@ViewData["Title"]</h2>

<a class="btn btn-primary mb-3" href="/Request/Create">+ Yeni Talep</a>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>Başlık</th>
            <th>Açıklama</th>
            <th>İşlemler</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Requests)
        {
            <tr>
                <td>@item.Title</td>
                <td>@item.Description</td>
                <td>
                    <a class="btn btn-sm btn-warning" href="/Request/Edit/@item.ID">Düzenle</a>
                    <a class="btn btn-sm btn-danger" href="/Request/Delete/@item.ID">Sil</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<nav>
    <ul class="pagination">
    @for (int i = 1; i <= Model.TotalPages; i++)
        {
            <li class="page-item @(i == Model.CurrentPage ? "active" : "")">
                <a class="page-link" asp-action="Index" asp-route-page="@i"> @i </a>
            </li>
        }
</ul>
</nav>

